
<div class="container">
<div class="row">
    <form action="/admin/generate-fake-posts" method="post">
        <div class="form-group">
       <h1> Create Fake Posts</h1>
        <input type="number" name="amount"  class="form-control" id="">
        </div>
        <button type="submit" class="btn btn-dark" >Generate</button>
    </form>
</div>
</div>