<!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; 250Blog 2020</p>
        <div>
        <p class="m-0 text-center d-block small"> 
          <i class="fa fa-sign-in"></i> 
          <a href="/login">Login</a></p>
          </div>
      </div>
      <!-- /.container -->
    </footer>
