{{# if success_message}}
<div class="alert alert-success">
    {{success_message}}
</div>
{{/if}}
{{#if updated}}
<div class="alert alert-success">
    {{updated}}
</div>
{{/if}}
{{#if deleted}}
<div class="alert alert-success">
    {{deleted}}
</div>
{{/if}}
{{#if user}}
<div class="alert alert-success">
    {{user}}
</div>
{{/if}}