 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark  bg-black fixed-top navbar-nav bg-shadow">
      <div class="container">
         
        <a class="navbar-brand" href="/">
          <img src="/images/250.png" height="50" alt=""> </a>
          
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-black" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><i class="fa fa-home">Home</i>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><i class="fa fa-address-card">About US</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services"><i class="fa fa-check"></i>Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><i class="fa fa-phone-square">Contact</i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>